.index-body{
    background-color: yellow;
    font-size: 50px;
    text-align:center;
    list-style-position: inside;
}
    


.page-body{
    background-color: rgb(216, 192, 160);
    text-align:center;
    list-style-position: inside;
}

.image{
    height: auto;
    width: 500px;
}